.header {
  font-family: var(--font-primary), sans-serif;
  font-size: 18px;
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-d-height);
}

.header__wrapper {
  display: flex;
  margin: 0 0 0 auto;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  font-weight: 400;
  color: hsl(var(--color-dark));
  text-decoration: none;
  transition: ease var(--t-duration);

  &--active {
    color: hsl(var(--color-accent));
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.header__phone-number {
  position: relative;
  margin: 0 0 0 40px;
  padding: 0 0 0 24px;
  color: hsl(var(--color-accent));
  font-weight: 500;
  text-decoration: none;
  transition: ease var(--t-duration);

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
  }

  path {
    fill: hsl(var(--color-accent));
    transition: ease var(--t-duration);
  }
}

@media(hover: hover) {
  .header__nav-link:hover {
    color: hsl(var(--color-accent));
  }

  .header__phone-number:hover {
    color: hsl(var(--color-accent-h));

    path {
      fill: hsl(var(--color-accent-h));
    }
  }
}

@media(hover: none) {
  .header__nav-link:active {
    color: hsl(var(--color-accent));
  }

  .header__phone-number:active {
    color: hsl(var(--color-accent-h));

    path {
      fill: hsl(var(--color-accent-h));
    }
  }
}

@media(max-width: $tablet) {
  .header__wrapper {
    display: none;
  }
}

@media(max-width: $mobile) {
  .header__container {
    height: var(--header-m-height);
  }
}
