.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  font-family: var(--font-primary), sans-serif;
  font-size: 18px;
  background: hsl(var(--color-light));
  box-shadow: 0 0 10px 0 hsla(var(--color-dark) / 5%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-desktop-height);
}

.header__menu-inner {
  display: flex;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  font-weight: 400;
  color: hsl(var(--color-dark));
  text-decoration: none;
  transition: ease var(--t-duration);

  &--active {
    color: hsl(var(--color-accent));
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.header__phone-number {
  position: relative;
  margin: 0 0 0 40px;
  padding: 0 0 0 24px;
  color: hsl(var(--color-accent));
  font-weight: 500;
  text-decoration: none;
  transition: ease var(--t-duration);

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
  }

  path {
    fill: hsl(var(--color-accent));
    transition: ease var(--t-duration);
  }
}

@media(hover: hover) {
  .header__nav-link:hover {
    color: hsl(var(--color-accent));
  }

  .header__phone-number:hover {
    color: hsl(var(--color-accent-h));

    path {
      fill: hsl(var(--color-accent-h));
    }
  }
}

@media(hover: none) {
  .header__nav-link:active {
    color: hsl(var(--color-accent));
  }

  .header__phone-number:active {
    color: hsl(var(--color-accent-h));

    path {
      fill: hsl(var(--color-accent-h));
    }
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
  scale: 0.8;
}

.header__burger-t-el,
.header__burger-b-el,
.header__burger-c-el {
  position: absolute;
  height: 2px;
  background: hsl(var(--color-accent));
  border-radius: 5px;
  animation-duration: var(--t-duration);
  animation-timing-function: var(--t-timing-function);
  animation-fill-mode: forwards;
}

.header__burger-t-el,
.header__burger-b-el {
  left: 50%;
  width: 34px;
  translate: -50% 0%;
}

.header__burger-t-el {
  top: 20%;
}

.header__burger-b-el {
  bottom: 20%;
}

.header__burger-c-el {
  top: 50%;
  right: 2.5px;
  width: 28px;
  translate: 0 -50%;
}

.header__burger--cross {
  .header__burger-t-el {
    animation-name: t-to-cross;
  }

  .header__burger-b-el {
    animation-name: b-to-cross;
  }

  .header__burger-c-el {
    animation-name: c-to-cross;
  }
}

.header__burger--lines {
  .header__burger-t-el,
  .header__burger-b-el,
  .header__burger-c-el {
    animation-direction: reverse;
  }

  .header__burger-t-el {
    animation-name: t-to-lines;
  }

  .header__burger-b-el {
    animation-name: b-to-lines;
  }

  .header__burger-c-el {
    animation-name: c-to-lines;
  }
}

.header__overlay {
  position: absolute;
  z-index: -100;
  top: var(--header-desktop-height);
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: hsla(var(--color-dark) / 20%);
  transition: ease var(--t-duration);

  &--none {
    display: none;
  }

  &--transparent {
    opacity: 0;
  }
}

@media(max-width: $tablet) {
  .header__menu {
    position: absolute;
    top: var(--header-desktop-height);
    right: 0;
    display: none;
    width: 0;
    height: calc(100dvh - var(--header-desktop-height));
    padding: 50px 0 20px;
    background: hsl(var(--color-light));
    transition: ease var(--t-duration);
    overflow: hidden;

    &--block {
      display: block;
    }

    &--open {
      width: var(--menu-mobile-width);
    }
  }

  .header__menu-inner {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    min-width: var(--menu-mobile-width);
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .header__phone-number {
    margin: 0;
    padding: 0 0 0 24px;
  }

  .header__burger {
    display: block;
  }
}

@media(max-width: $mobile) {
  .header__container {
    height: var(--header-mobile-height);
  }

  .header__menu {
    top: var(--header-mobile-height);
    height: calc(100dvh - var(--header-mobile-height));

    &--open {
      width: 100%;
    }
  }

  .header__overlay {
    top: var(--header-mobile-height);
  }
}

@keyframes c-to-cross {
  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes t-to-cross {
  0% {
    top: 20%;
    translate: -50% 0%;
  }

  49% {
    top: 50%;
    translate: -50% -50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}

@keyframes b-to-cross {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }

  49% {
    bottom: 50%;
    translate: -50% 50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}

@keyframes c-to-lines {
  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes t-to-lines {
  0% {
    top: 20%;
    translate: -50% 0%;
  }

  49% {
    top: 50%;
    translate: -50% -50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    top: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
}

@keyframes b-to-lines {
  0% {
    bottom: 20%;
    translate: -50% 0%;
  }

  49% {
    bottom: 50%;
    translate: -50% 50%;
  }

  51% {
    rotate: 0deg;
  }

  100% {
    bottom: 50%;
    translate: -50% 50%;
    rotate: -45deg;
  }
}
