.main {
  padding: var(--header-desktop-height) 0 0;
}

.container__main {
  display: flex;
  gap: 40px;
}

@media(max-width: $tablet) {
  .container__main {
    flex-direction: column;
    gap: 0;
  }
}

@media(max-width: $mobile) {

  .main {
    padding: var(--header-mobile-height) 0 0;
  }
}
