*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;
  background: hsl(var(--color-backgr));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container__main {
  display: flex;
  gap: 40px;
}

@media(max-width: $tablet) {
  .container__main {
    flex-direction: column;
    gap: 0;
  }
}

.date {
  display: inline-block;
  font-family: var(--font-primary);
  font-weight: 400;
  color: hsla(var(--color-dark) / 0.4);
  transition: ease var(--t-duration);

  &--big {
    font-size: 18px;
  }

  &--small {
    font-size: 16px;
  }
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 0;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  color: hsl(var(--color-light));
  background: hsl(var(--color-accent));
  border: none;
  border-radius: 20px;
  transition: ease var(--t-duration);
  cursor: pointer;
}

@media(hover: hover) {
  .primary-btn:hover {
    background: hsl(var(--color-accent-h));
  }
}

@media(hover: none) {
  .primary-btn:active {
    background: hsl(var(--color-accent-h));
  }
}

.secondary-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 250px;
  padding: 10px 16px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  color: hsl(var(--color-accent));
  text-decoration: none;
  background: hsla(var(--color-accent) / .05);
  border-radius: 8px;
  transition: ease var(--t-duration);

  &--white {
    color: hsl(var(--color-light));
    background: hsla(var(--color-light) / .2);
  }
}

@media(hover: hover) {
  .secondary-btn {

    &:hover {
      background: hsla(var(--color-accent) / .15);
    }

    &:active {
      background: hsla(var(--color-accent) / .05);
    }

    &--white {

      &:hover {
        background: hsla(var(--color-light) / .4);
      }

      &:active {
        background: hsla(var(--color-light) / .2);
      }
    }
  }
}

@media(hover: none) {
  .secondary-btn {

    &:active {
      background: hsla(var(--color-accent) / .15);
    }

    &--white {

      &:active {
        background: hsla(var(--color-light) / .4);
      }
    }
  }
}
